@{ ViewData["Title"] = "Home Page"; }
<div class="container">
    <div class="five">
        <ul>
            @{ foreach(string error in ViewBag.Errors) {
            <li>@error </li>
            } }
        </ul>
    </div>
    <div class="five">
        <h5>Existing Users</h5>
        <h3>Login</h3>
        <form action="Login" method="POST">
            <label for="Email">E-Mail Address</label>
            <input type="email" name="Email">

            <label for="Password">Password</label>
            <input type="password" name="Password" value="Password1234">
            <button type="submit">Log in</button>
        </form>
    </div>
    <div class="five">
        <h5>New Users</h5>
        <h3>Register</h3>
        <form action="Register" method="POST">
            <label for="Email">E-Mail Address</label>
            <input type="email" name="Email">

            <label for="FirstName">First Name</label>
            <input type="text" name="FirstName">

            <label for="LastName">Last Name</label>
            <input type="text" name="LastName">
            <button type="submit">Register</button>

            <label for="Password">Password</label>
            <input type="password" name="Password" value="Password1234">

            <label for="PasswordConfirm">Confirm Password</label>
            <input type="password" name="PasswordConfirm" value="Password1234">
        </form>
    </div>
</div>